@import '../UTILS/color.scss';
@import '../UTILS/function.scss';









div.about-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: pxe(760);
    width: 100%;
    background-color: $primary;
    color: $white;
    padding: pxe(114) 0 pxe(36);



    div.about-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        img.about-poster {
            display: block;
            height: pxe(336.68);
            max-width: pxe(550);
            border-radius: pxe(18.16);
            border: pxe(2.4) solid $tertiary-green;
            margin-top: pxe(40);
            
            
            z-index: 5;
        }

        div.about-text-div {
            text-align: start;
            display: block;
            height: max-content;
            width: max-content;
            z-index: 5;
            margin-top: pxe(24);
            padding: 0 pxe(36);

            h1 {
                text-align: center;
                font-size: pxe(48);
                font-weight: 400;

                // transform: translateX(200%);
                // transition: transform 2s;
            }


            div.about-text-bg {
                margin-top: pxe(32);
                display: block;
                max-width: pxe(620);
                text-align: start;

                // transform: translateX(400%);
                // transition: transform 2s;
    
                font-size: pxe(16);
                padding: pxe(24);
                font-weight: 400;
                line-height: pxe(32);
    
                background: rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(pxe(41.5127));
                border-radius: pxe(18.1618);

            }

        }


    }




}







@media only screen and (max-width: 768px) {
    


    div.about-div {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        background-color: $primary;
        color: $white;
        padding: 0 0 pxe(36);
    
    
    
        div.about-wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
            img.about-poster {
                display: block;
                height: pxe(336.68);
                width: 100%;
                border-radius: pxe(18.16);
                object-fit: cover;
                object-position: center;
                border: pxe(2.4) solid $tertiary-green;
                margin-top: pxe(40);
    
                z-index: 5;
            }
    
    
    
    
            div.about-text-div {
                text-align: start;
                display: block;
                height: max-content;
                width: fit-content;
                z-index: 5;
                margin-top: pxe(24);
                padding: 0;
    
                h1 {
                    text-align: center;
                    font-size: pxe(48);
                    font-weight: 400;
    
                    // transform: translateX(200%);
                    // transition: transform 2s;
                }
    
    
                div.about-text-bg {
                    margin-top: pxe(32);
                    display: block;
                    max-width: pxe(620);
                    text-align: start;
    
                    // transform: translateX(400%);
                    // transition: transform 2s;
        
                    font-size: pxe(16);
                    padding: pxe(24);
                    font-weight: 400;
                    line-height: pxe(32);
        
                    background: rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur(pxe(41.5127));
                    border-radius: pxe(18.1618);
    
                }
    
            }
    
    
        }
    
    
    
    
    }
    


}