@import '../UTILS/function.scss';
@import '../UTILS/color.scss';





div.sponsorCaraousal-container {
    display: block;
    max-width: pxe(1173);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(pxe(41.5127));
    /* Note: backdrop-filter has minimal browser support */
    border-radius: pxe(18.1618);
    margin-top: pxe(8);
    cursor: pointer;


    div.container {
        overflow: hidden;
        width: 100%;
        animation-play-state: running;
        position: relative;   
    }

    div.LeftEndDiv {
        display: flex;
        height: 100%;
        width: pxe(50);
        z-index: 500;
        background-image: linear-gradient(to right, $primary, $primary, transparent);
        position: absolute;
        left: 0;
        top: 0;
    }

    div.RightEndDiv {
        display: flex;
        height: 100%;
        width: pxe(50);
        z-index: 500;
        background-image: linear-gradient(to right, transparent, $primary, $primary);
        position: absolute;
        right: 0;
        top: 0;
    }





    div.SponsorCarousel {
        display: flex;
        width: fit-content;
        animation-play-state: inherit;


        div.ImgList {
            display: flex;
            width: 100%;
            column-gap: pxe(10);
            padding-right: pxe(10);

            animation-name: running-carousel;
            animation-duration: 20s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: reverse;
            animation-fill-mode: forwards;
            animation-play-state: inherit;

            div.sponsor-img-wrapper {
                padding: pxe(16) 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img.ImgListItem {
                    height: pxe(150);
                    min-width: pxe(226);
                    object-fit: contain;
                    object-position: center;
                    margin-right: pxe(36);
                }

                h3 {
                    text-align: center;
                }
            }
            
        }
    }






}














@media only screen and (max-width: 768px) {




    div.sponsorCaraousal-container {
        display: block;
        width: 100%;
        overflow: hidden;
    
    
        div.container {
            overflow: hidden;
            min-width: 100%;
            animation-play-state: running;
            position: relative;  
            z-index: 300; 
        }
    
        div.LeftEndDiv {
            display: flex;
            height: 100%;
            width: pxe(50);
            z-index: 500;
            background-image: linear-gradient(to right, $primary, $primary, transparent);
            position: absolute;
            left: pxe(-42);
            top: 0;
        }
    
        div.RightEndDiv {
            display: flex;
            height: 100%;
            width: pxe(50);
            z-index: 500;
            background-image: linear-gradient(to right, transparent, $primary, $primary);
            position: absolute;
            right: pxe(-42);
            top: 0;
        }
    
    
    
    
    
        div.SponsorCarousel {
            display: flex;
            width: fit-content;
            animation-play-state: inherit;
    
    
            div.ImgList {
                display: flex;
                width: 100%;
                column-gap: pxe(10);
                padding-right: pxe(10);
    
                animation-name: running-carousel;
                animation-duration: 20s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: reverse;
                animation-fill-mode: forwards;
                animation-play-state: inherit;
    
    
                div.sponsor-img-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: max-content;

                    img.ImgListItem {
                        height: max-content;
                        width: pxe(226);
                        object-fit: cover;
                        object-position: center;
                        margin-right: pxe(36);
                    }

                    
                    h3 {
                        text-align: center;
                    }
                }
                
            }
        }
    
    
    
    }
    



}

































@keyframes running-carousel {
    0% {
        transform: translateX(-100%);
    }
}