@import '../UTILS/color.scss';
@import '../UTILS/function.scss';


div.welcome-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    // align-items: center;

    width: 100%;
    min-height: pxe(760);
    height: max-content;
    background-color: $primary;
    padding: pxe(114) 0 pxe(48);



    div.main-infor-container {
        margin: 0 0 pxe(36);
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        z-index: 1;
        width: 100%;

        div.main-info {
            display: block;
            color: $white;
            
            // width: 100%;
            // margin-right: auto;
            padding-right: pxe(36);
    
            h1 {
                font-size: pxe(48);
                font-weight: 400;
                text-align: start;
            }
    
            p {
                margin: pxe(8) 0 0;
                font-size: pxe(16);
                font-weight: 400;
                line-height: pxe(32);
                text-align: left;
            }

            h2 {
                font-size: pxe(32);
                font-weight: 400;
                text-align: start;
                margin-top: pxe(32);
            }

            * {
                max-width: pxe(567);
            }
    
        }
    
    
        div.main-logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: pxe(24);

            div.main-logo {
                display: flex;
                justify-content: center;
    
                width: pxe(596.75);
                height: max-content;
                
                background: rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(pxe(41.5127));
                /* Note: backdrop-filter has minimal browser support */
                border-radius: pxe(18.1618);


                img {
                    display: block;
                    height: max-content;
                    width: pxe(295);
                    object-fit: cover;
                    object-position: center;
                }
            }
    
    
    
            
        
    
        }
    
    }



}













@media only screen and (max-width: 768px) {

    

    div.welcome-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
        // align-items: center;
    
        width: 100%;
        // min-height: pxe(760);
        background-color: $primary;
        padding: pxe(114) 0 0;
    

    
        div.main-infor-container {
            margin: 0 0 pxe(36);
            display: flex;
            flex-direction: column;

            z-index: 1;
            width: 100%;
            

            div.main-info {
                display: block;
                color: $white;
                width: 100%;
                margin: pxe(24) 0;
                padding: 0;

                order: 2;
        
                h1 {
                    font-size: pxe(48);
                    font-weight: 400;
                    text-align: center;
                }
        
                p {
                    margin: pxe(24) 0 0;
                    font-size: pxe(16);
                    font-weight: 400;
                    line-height: pxe(32);
                    text-align: start;
                }

                h2 {
                    margin-top: pxe(32);
                }
        
            }
        
        
            div.main-logo-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                // margin: pxe(24) 0;

                order: 1;

    
                div.main-logo {
                    display: flex;
                    justify-content: center;
        
                    width: 100%;
                    height: max-content;
                    // padding: pxe(16) 0;
                    
                    background: rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur(pxe(41.5127));
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: pxe(18.1618);
    
    
                    img {
                        display: block;
                        height: max-content;
                        width: pxe(237);
                        object-fit: contain;
                        object-position: center;
                    }
                }
    
        
            }
        
        }
    
    
    
    }   



    
}